<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPi Homescreen</title>

    <link rel="stylesheet" href="/static/bootstrap-icons-1.10.5/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="border">
        <div class="center col33">
            <h1 class="huge"><i class="bi-cloud-sun"></i></h1>
        </div>

        <div class="center col33">
            <h1 class="huge" id="time-time">{{ .time }}</h1>
            <h2 class="large" id="time-date">{{ .date }}</h2>
        </div>

        <div class="col33">
            <table>
                <tbody>
                    <tr>
                        <td style="width: 25%;">
                            <i class="bi-calendar-check"></i>
                            <span id="day-counter-school-this">...</span>
                        </td>
                        <td>school days this year</td>
                    </tr>
                    <tr>
                        <td style="width: 20%;">
                            <i class="bi-calendar-check-fill"></i>
                            <span id="day-counter-school-all">...</span>
                        </td>
                        <td>school days until graduation</td>
                    </tr>
                    <tr>
                        <td style="width: 20%;">
                            <i class="bi-calendar-range"></i>
                            <span id="day-counter-year">...</span>
                        </td>
                        <td>days this year</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="border">
        <div class="col33">
            <p>
                <i class="bi-x-circle-fill"></i>
                <span id="entfall">...</span>
            </p>
            <table class="center">
                <tbody>
                    <tr><td>...</td></tr>
                </tbody>
            </table>
        </div>

        <div class="col33">
            <p>
                <i class="bi-envelope-at-fill"></i>
                <span id="mails">...</span>
                Mails
            </p>
            <p>
                <i class="bi-list-task"></i>
                <span id="aufgaben">...</span>
                Aufgaben
            </p>
        </div>

        <div class="col33">
            <table>
                <tbody>
                    <tr>
                        <td style="width: 30%;"><i class="bi-speedometer2"></i> CPU</td>
                        <td style="width: 15%;"><span class="sysstat" id="sysstat-cpu" data-value="{{ .cpu }}">{{ .cpu }}</span>%</td>
                        <td>
                            <div class="progress-parent">
                                <div class="progress-child" id="sysstat-cpu-progress"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><i class="bi-memory"></i> MEM</td>
                        <td><span class="sysstat" id="sysstat-mem" data-value="{{ .mem }}">{{ .mem }}</span>%</td>
                        <td>
                            <div class="progress-parent">
                                <div class="progress-child" id="sysstat-mem-progress"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><i class="bi-thermometer-half"></i> TEMP</td>
                        <td><span class="sysstat" id="sysstat-temp" data-value="{{ .temp }}">{{ .temp }}</span>°C</td>
                        <td>
                            <div class="progress-parent">
                                <div class="progress-child" id="sysstat-temp-progress"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><i class="bi-hdd-fill"></i> DISK</td>
                        <td><span class="sysstat" id="sysstat-disk" data-value="{{ .disk }}">{{ .disk }}</span>%</td>
                        <td>
                            <div class="progress-parent">
                                <div class="progress-child" id="sysstat-disk-progress"></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="log"></div>

    <script src="/static/js/utils.js"></script>
    <script src="/static/js/day-counter.js"></script>
    <script src="/static/js/sysstat.js"></script>
    <script src="/static/js/time.js"></script>
</body>
</html>